.container {
  height: calc(100vh - 4.5rem);
  background-color: #f5a05c;
  background: #f5a05c url("./../images/Vector2.svg");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  align-items: center;
  padding: 0rem 7.5rem;
  flex-direction: column;
}

/* header */

.hero_container {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* header text */

.text_container {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-right: 2rem;
  flex-wrap: wrap;
  /* background-color: #021718; */
}

.text_container h1 {
  color: #021718;
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
}

.text_container p {
  font-size: 24px;
  line-height: 42px;
  color: #021718;
  margin-bottom: 48px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  flex-wrap: wrap;
  display: flex;
}

.text_container a {
  background-color: #01847f;
  color: #fff;
  border-radius: 8px;
  padding: 0.5rem 2.25rem;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
}

.image_container {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: aqua; */
}
.main_image {
  background-color: blue;
  position: relative;
  width: calc(100% - 8rem);
  height: calc(100% - 10rem);
}

.main_image img {
  width: 100%;
  height: 100%;

  z-index: 100;
  position: absolute;
}

.main_image div {
  width: 100%;
  height: 100%;
  background: #44a1a0;
  transform: rotate(-6deg);
  position: absolute;
}

.social_container {
  /* background-color: red; */
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social_icons {
  display: flex;
  align-items: center;
}

.social_icons a {
  margin: 0 1.5rem;
}

.social_icons a:nth-of-type(1) {
  margin-left: 0;
}

@media screen and (max-width: 950px) {
  .hero_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background-color: blue; */
  }

  .text_container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    /* background-color: #021718; */
  }

  .text_container p {
    text-align: center;
  }

  .main_image {
    /* background-color: blue; */
    width: calc(100% - 8rem);
    height: calc(100% - 6rem);
  }

  .social_container {
    justify-content: center;
  }
}

@media screen and (max-width: 1150px) {
  .main_image {
    width: calc(100% - 2rem);
  }
}

@media screen and (max-width: 950px) {
  .main_image {
    width: calc(100% - 1rem);
  }

  .hero_container {
    height: 100vh;
  }
}

@media screen and (max-width: 750px) {
  .main_image {
    width: 400%;
  }

  .text_container {
    width: 100vw;
    padding: 0.5rem 1rem;
  }
  .text_container h1 {
    text-align: center;
    font-size: 45px;
    line-height: 55px;
    font-weight: 800;
    margin-bottom: 12px;
    width: 100%;
  }

  .text_container p {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    font-weight: 200;
    margin-bottom: 12px;
  }

  .text_container a {
    padding: 0.2rem 0.5rem;

    font-weight: 400;
    font-size: 1rem;
    line-height: 35px;
  }

  .social_container {
    /* background-color: red; */
    height: 15%;
    width: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social_icons {
    height: 2rem;
    /* background-color: #021718; */
  }

  .social_icons a {
    margin: 0 1rem;
    height: fit-content;
  }

  .social_icons a img {
    max-height: 1.2rem;
  }
}

@media screen and (max-width: 750px) {
  .main_image {
    width: 100%;
    
  }

  .image_container {

    width: 70vw;
  }
}
