.container {
  background-color: #fffffa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 7.5rem;
  height: 4.5rem;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: #021718;
}

.searchBox {
  display: none;
}

.searchBox input {
  outline: none;
  padding: 0.2rem;
  border: none;
  width: 100%;

  color: #021718;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;


}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options ul li {
  list-style: none;
  padding: 0 3.125rem;
  color: #021718;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;

  color: #021718;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuIcon {
  display: none;
}

@media screen and (max-width: 850px) {
  .menuIcon {
    display: flex;
  }
}

@media screen and (max-width: 850px) {
  .container {
    padding: 0rem 2.5rem;
  }

  .options {
    display: none;
  }
}

@media screen and (max-width: 850px) {

  .container{

    padding: 1rem;

  }

  .logo {

    font-size: 2.5rem;
  }
  .searchBox {

    border: 1px solid #021718;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 0 0.5rem;
  }

  .menuIcon {

    width: 1.2rem ;
  }
}
