.container {
  background-color: #fffffa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 7.5rem;
  height: 4.5rem;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  color: #021718;
  transition: 0.5s all ease-in-out;

}
.logo:hover {
  transform: rotate(90deg);
 }
 

.searchBox {
  display: none;
}

.searchBox input {
  outline: none;
  padding: 0.2rem;
  border: none;
  width: 100%;

  color: #021718;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.options ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.options ul li {
  list-style: none;
  margin: 0 3.125rem;
  color: #021718;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #021718;
  transition: 0.3s all ease-in-out;
}

.options ul li:hover {

  transform: scale(1.1);
  font-weight: 500;
  color:rgb(0, 89, 255);
  border: 1px solid rgb(0, 89, 255);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.iconContainer:hover {

 transform: scale(1.2);

}

.menuIcon {
  display: none;
}

.menuList {
  position: absolute;
  top: 4rem;
  right: 2.5rem;
  background-color: #fffffa;
  border-radius: 0.4rem;
}

.menuList ul {
  display: grid;
  grid-column: 1fr;
  background-color: red;
  align-self: flex-start;
  margin-left: -2rem;
  




}

.menuList li {
  list-style: none;
  color: #021718;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 1rem;
}

.bottomSearch {
  position: absolute;

  display: flex;
  align-items: center;
  padding: 0.3rem;
  border-radius: 5rem;
  right: 7.5rem;
  top: 4rem;
  transition: all 3s ease;
}

.bottomSearch input {
  padding: 0.7rem 0.7rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: #fffffa;
}

@media screen and (max-width: 850px) {
}

@media screen and (max-width: 850px) {
  .container {
    padding: 0rem 2.5rem;
  }

  .options {
    display: none;
  }

  .menuIcon {
    display: flex;
    width: 1.2rem;
  }

  .logo {
    font-size: 2.5rem;
  }
  .searchBox {
    border: 1px solid #021718;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding: 0 0.5rem;
  }

  .bottomSearch {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .container {
    height: fit-content;
    padding: 0 0.5rem;
  }
}
